<div class = "col-md-offset-1 col-md-4 contact">
  <h2>A propos de moi</h2>
  <p>
    Je m'appelle Darya Trukhan et j'ai 20 ans. Je suis née en Biélorussie et
    j'y ai vécu jusqu'à l'âge de 7 ans. Puis ma famille et moi avons déménagé
    à Tokyo où nous avons vécu 7 ans. Puis c'est à Paris que nous nous sommes
    déplacés et voici la 6 année que je suis en France.
  </p>
  <p>
    Je suis passionnée par le dessin depuis mon enfance. Je m'épanouis en
    créant des différents projets en cherchant à faire progresser mes capacités
    artistiques.
  </p>
  <p>
    En 2016 j'ai été admise directement en troisième année de l'école Isart
    Digital pour devenir animateur 3D. Actuellement je suis à la recherche d'un
    stage pour me developer en tant qu'artiste et professionnel.
  </p>
  <p>
    J'espère que vous allez apprécier mon portfolio.
    Merci de votre visite et bonne journée!
  </p>
</div>
<div class = "col-md-offset-1 col-md-4">

</div>
